body {
  background-color: #eceef1;
  font-family: Arial, sans-serif;
}

header {
  text-align: end;
  padding-top: 3px ;
  padding-right: 30px;
  
}

.header-info{
  display: inline-block;
  margin-right: 17px;
  font-size: 12px;
  line-height: 17px;
}

.header2 a {
  text-decoration: none;
  color: #0077C5;
}

.btn {
  float: right;
}

.sign-in {
  width: 102px;
  height: 34px;
  background-color: #0077C5;
  color: #ffffff;
  border-radius: 4px;
  font-size: 13.5px;
  border: solid 1px #000000;
} 

.sign-in i {
  margin-right: 5px;
}

form,
section {
  display: grid;
  width: 400px;
  margin: auto;
}
form {
  height: 800px;
  background-color: white;
}

h2 {
  text-align: center;
  font-size: xx-large;
}

footer {
  display: grid;
  margin: auto;
  width: 500px;
}
