body {
  background-color: #eceef1;
}

header {
  text-align: end;
}

form,
section {
  display: grid;
  width: 400px;
  margin: auto;
}
form {
  height: 800px;
  background-color: white;
}

h2 {
  text-align: center;
  font-size: xx-large;
}

footer {
  display: grid;
  margin: auto;
  width: 500px;
}
