body {
  background-color: #eceef1;
  font-family: Arial, sans-serif;
}

header {
  text-align: end;
  padding-top: 3px;
  padding-right: 30px;
}

.header-info {
  display: inline-block;
  margin-right: 17px;
  font-size: 12px;
  line-height: 17px;
}



.link {
  text-decoration: none;
  color: #0077c5;
}

.btn {
  float: right;
}

.sign-in {
  width: 102px;
  height: 34px;
  background-color: #0077c5;
  color: #ffffff;
  border-radius: 4px;
  font-size: 13.5px;
  border: solid 1px #000000;
}

.sign-in i {
  margin-right: 5px;
}

/* Logos */
.brand {
  text-align: center;
}

.logos img {
  width: 40px;
  height: 40px;
  margin: 20px 20px;
}
.main-logo img{
  width: 123px;
  height: 36px;
  margin-top: 45px;
}


/* Form Section */
form,
section {
  display: grid;
  width: 400px;
  margin: auto;
}
form {
  height: 800px;
  background-color: white;
}

input {
  width: 85%;
}

.form-title {
  text-align: center;
  font-size: 24px;
  color: #4c4c4c;
  font-weight: 400;
}

.text-form { 
  text-align: center;
}
footer {
  display: grid;
  margin: auto;
  width: 500px;
}
